<div id="track">
  <div id="playerone">
    <div class="pacman">
      <img src="http://i41.tinypic.com/eq5gty.png">
    </div>
    <div class="finish">
      <div class="black">&nbsp;</div>
      <div class="white">&nbsp;</div>
      <div class="black">&nbsp;</div>
      <div class="white">&nbsp;</div>
      <div class="black">&nbsp;</div>
    </div>
  </div>

  <div id="playertwo">
      <div class="batman">
        <img src="http://i41.tinypic.com/2rxcit5.png">
    </div>
    <div class="finish">
      <div class="black">&nbsp;</div>
      <div class="white">&nbsp;</div>
      <div class="black">&nbsp;</div>
      <div class="white">&nbsp;</div>
      <div class="black">&nbsp;</div>
    </div>
  </div>
</div>


