<h2>Ready to play?</h2>
<form method="post" action="/play">
  <p><label for="player1">Player one:</label> <input type="text" id="player1" name="game[:player1]" placeholder="initials"></p>

  <p><label for="player2">Player two:</label> <input type="text" id="player2" name="game[:player2]" placeholder="initials"></p>

  <p><input type="submit" value="GO THUNDERCATS GO!"></p>
</form>
